In [1]:
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_csv('data/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [6]:
#Checking the data types of each column
df.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease         object
resale_price           float64
dtype: object

In [20]:
df['town'] = df['town'].astype('category')
df['flat_type'] = df['flat_type'].astype('category')
df['storey_range'] = df['storey_range'].astype('category')
df['flat_model'] = df['flat_model'].astype('category')
df['town'] = df['town'].astype('category')
df['remaining_lease_years'] = df['remaining_lease'].str[0:2].astype('int')
df.head()

KeyError: ('town', 'flat_type', 'storey_range', 'flat_model')

In [13]:
df.dtypes

month                      object
town                     category
flat_type                  object
block                      object
street_name                object
storey_range               object
floor_area_sqm            float64
flat_model                 object
lease_commence_date         int64
remaining_lease            object
resale_price              float64
remaining_lease_years      object
dtype: object