In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('data/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [7]:
#Checking the data types of each column
df.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease         object
resale_price           float64
dtype: object

In [9]:
test_month = df['month'][1]

In [11]:
pd.Period(test_month)

Period('2017-01', 'M')

In [12]:
#df['year-month'] = pd.to_datetime(df['month'])
df['year-month'] = pd.Period(df['month'])
df['town'] = df['town'].astype('category')
df['flat_type'] = df['flat_type'].astype('category')
df['storey_range'] = df['storey_range'].astype('category')
df['flat_model'] = df['flat_model'].astype('category')
df['town'] = df['town'].astype('category')
df['remaining_lease_years'] = df['remaining_lease'].str[0:2].astype('int')
df.head()

ValueError: Value must be Period, string, integer, or datetime

In [5]:
df.tail()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year-month,remaining_lease_years
82796,2020-10,YISHUN,EXECUTIVE,834,YISHUN ST 81,04 TO 06,146.0,Maisonette,1988,66 years 03 months,680000.0,2020-10-01,66
82797,2020-10,YISHUN,EXECUTIVE,877,YISHUN ST 81,01 TO 03,145.0,Maisonette,1987,66 years 02 months,618000.0,2020-10-01,66
82798,2020-10,YISHUN,EXECUTIVE,877,YISHUN ST 81,07 TO 09,142.0,Apartment,1987,66 years 02 months,670000.0,2020-10-01,66
82799,2020-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,66 years 02 months,750000.0,2020-10-01,66
82800,2020-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,171.0,Multi Generation,1987,66 years 02 months,780000.0,2020-10-01,66

In [13]:
df.dtypes

month                            object
town                           category
flat_type                      category
block                            object
street_name                      object
storey_range                   category
floor_area_sqm                  float64
flat_model                     category
lease_commence_date               int64
remaining_lease                  object
resale_price                    float64
remaining_lease_years             int32
year-month               datetime64[ns]
dtype: object