In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('data/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [3]:
#Check for missing values
df.isnull().any()

month                  False
town                   False
flat_type              False
block                  False
street_name            False
storey_range           False
floor_area_sqm         False
flat_model             False
lease_commence_date    False
remaining_lease        False
resale_price           False
dtype: bool

In [4]:
#Checking the data types of each column
df.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease         object
resale_price           float64
dtype: object

In [5]:
#Assigning datatypes to the columns
df['year-month'] = pd.to_datetime(df['month'])
df['year-month'] = df['year-month'].dt.to_period('M')
df['town'] = df['town'].astype('category')
df['flat_type'] = df['flat_type'].astype('category')
df['storey_range'] = df['storey_range'].astype('category')
df['flat_model'] = df['flat_model'].astype('category')
df['town'] = df['town'].astype('category')
df['remaining_lease_years'] = df['remaining_lease'].str[0:2].astype('int')
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year-month,remaining_lease_years
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,2017-01,61
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,2017-01,60
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,2017-01,62
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,2017-01,62
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,2017-01,62

In [6]:
#Dropping the 'month' column
df.drop(columns='month', inplace=True)
df.head()

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year-month,remaining_lease_years
0,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,2017-01,61
1,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,2017-01,60
2,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,2017-01,62
3,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,2017-01,62
4,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,2017-01,62

In [7]:
def categorize_flat_age(years_left, flat_age_cat='Less than 10years'):
    if 79 <= years_left < 90:
        flat_age_cat = '10 to 20 years'
    elif 69 <= years_left < 80:
        flat_age_cat = '20 to 30 years'
    elif years_left < 69:
        flat_age_cat = 'More than 30 years'
    return flat_age_cat

In [8]:
#Random check that the function works
print('Remaining years of lease = ',df['remaining_lease_years'][54234])
print('Age category of flat = ', categorize_flat_age(df['remaining_lease_years'][54234]))

Remaining years of lease =  72
Age category of flat =  20 to 30 years

In [9]:
df['flat_age_category'] = df['remaining_lease_years'].apply(categorize_flat_age).astype('category')

In [10]:
df.dtypes

town                      category
flat_type                 category
block                       object
street_name                 object
storey_range              category
floor_area_sqm             float64
flat_model                category
lease_commence_date          int64
remaining_lease             object
resale_price               float64
year-month               period[M]
remaining_lease_years        int32
flat_age_category         category
dtype: object

In [11]:
#checking the data
df.head(50)

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year-month,remaining_lease_years,flat_age_category
0,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,2017-01,61,More than 30 years
1,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,2017-01,60,More than 30 years
2,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,2017-01,62,More than 30 years
3,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,2017-01,62,More than 30 years
4,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,2017-01,62,More than 30 years
5,ANG MO KIO,3 ROOM,150,ANG MO KIO AVE 5,01 TO 03,68.0,New Generation,1981,63 years,275000.0,2017-01,63,More than 30 years
6,ANG MO KIO,3 ROOM,447,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1979,61 years 06 months,280000.0,2017-01,61,More than 30 years
7,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,04 TO 06,67.0,New Generation,1976,58 years 04 months,285000.0,2017-01,58,More than 30 years
8,ANG MO KIO,3 ROOM,447,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1979,61 years 06 months,285000.0,2017-01,61,More than 30 years
9,ANG MO KIO,3 ROOM,571,ANG MO KIO AVE 3,01 TO 03,67.0,New Generation,1979,61 years 04 months,285000.0,2017-01,61,More than 30 years
10,ANG MO KIO,3 ROOM,534,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1980,62 years 01 month,288500.0,2017-01,62,More than 30 years
11,ANG MO KIO,3 ROOM,233,ANG MO KIO AVE 3,10 TO 12,67.0,New Generation,1977,59 years 08 months,295000.0,2017-01,59,More than 30 years
12,ANG MO KIO,3 ROOM,235,ANG MO KIO AVE 3,04 TO 06,67.0,New Generation,1977,59 years 08 months,295000.0,2017-01,59,More than 30 years
13,ANG MO KIO,3 ROOM,219,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1977,59 years 06 months,297000.0,2017-01,59,More than 30 years
14,ANG MO KIO,3 ROOM,536,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,62 years 01 month,298000.0,2017-01,62,More than 30 years
15,ANG MO KIO,3 ROOM,230,ANG MO KIO AVE 3,04 TO 06,67.0,New Generation,1978,60 years,298000.0,2017-01,60,More than 30 years
16,ANG MO KIO,3 ROOM,570,ANG MO KIO AVE 3,10 TO 12,67.0,New Generation,1979,61 years 04 months,300000.0,2017-01,61,More than 30 years
17,ANG MO KIO,3 ROOM,624,ANG MO KIO AVE 4,04 TO 06,68.0,New Generation,1980,62 years 08 months,301000.0,2017-01,62,More than 30 years
18,ANG MO KIO,3 ROOM,441,ANG MO KIO AVE 10,07 TO 09,67.0,New Generation,1979,61 years,306000.0,2017-01,61,More than 30 years
19,ANG MO KIO,3 ROOM,625,ANG MO KIO AVE 9,04 TO 06,68.0,New Generation,1980,62 years 08 months,312000.0,2017-01,62,More than 30 years
20,ANG MO KIO,3 ROOM,119,ANG MO KIO AVE 3,07 TO 09,67.0,New Generation,1978,60 years 10 months,312000.0,2017-01,60,More than 30 years
21,ANG MO KIO,3 ROOM,255,ANG MO KIO AVE 4,04 TO 06,73.0,New Generation,1977,59 years 06 months,321000.0,2017-01,59,More than 30 years
22,ANG MO KIO,3 ROOM,432,ANG MO KIO AVE 10,10 TO 12,67.0,New Generation,1979,61 years,325000.0,2017-01,61,More than 30 years
23,ANG MO KIO,3 ROOM,211,ANG MO KIO AVE 3,01 TO 03,67.0,New Generation,1977,59 years 03 months,325000.0,2017-01,59,More than 30 years
24,ANG MO KIO,3 ROOM,584,ANG MO KIO AVE 3,04 TO 06,67.0,New Generation,1979,61 years 05 months,328000.0,2017-01,61,More than 30 years
25,ANG MO KIO,3 ROOM,118,ANG MO KIO AVE 4,07 TO 09,74.0,New Generation,1978,60 years 04 months,330000.0,2017-01,60,More than 30 years
26,ANG MO KIO,3 ROOM,333,ANG MO KIO AVE 1,07 TO 09,68.0,New Generation,1981,63 years,330000.0,2017-01,63,More than 30 years
27,ANG MO KIO,3 ROOM,256,ANG MO KIO AVE 4,10 TO 12,73.0,New Generation,1977,59 years 06 months,335000.0,2017-01,59,More than 30 years
28,ANG MO KIO,3 ROOM,330,ANG MO KIO AVE 1,07 TO 09,68.0,New Generation,1981,63 years,338000.0,2017-01,63,More than 30 years
29,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,10 TO 12,82.0,New Generation,1980,62 years,366000.0,2017-01,62,More than 30 years
30,ANG MO KIO,3 ROOM,302,ANG MO KIO AVE 3,10 TO 12,73.0,New Generation,1978,60 years 03 months,373000.0,2017-01,60,More than 30 years
31,ANG MO KIO,3 ROOM,575,ANG MO KIO AVE 10,07 TO 09,82.0,New Generation,1980,62 years,375000.0,2017-01,62,More than 30 years
32,ANG MO KIO,3 ROOM,509,ANG MO KIO AVE 8,01 TO 03,81.0,New Generation,1980,62 years 05 months,390000.0,2017-01,62,More than 30 years
33,ANG MO KIO,4 ROOM,472,ANG MO KIO AVE 10,10 TO 12,92.0,New Generation,1979,61 years 06 months,400000.0,2017-01,61,More than 30 years
34,ANG MO KIO,4 ROOM,475,ANG MO KIO AVE 10,07 TO 09,91.0,New Generation,1979,61 years 06 months,400000.0,2017-01,61,More than 30 years
35,ANG MO KIO,4 ROOM,629,ANG MO KIO AVE 4,01 TO 03,94.0,New Generation,1981,63 years 09 months,403000.0,2017-01,63,More than 30 years
36,ANG MO KIO,4 ROOM,546,ANG MO KIO AVE 10,01 TO 03,92.0,New Generation,1981,63 years,410000.0,2017-01,63,More than 30 years
37,ANG MO KIO,4 ROOM,131,ANG MO KIO AVE 3,01 TO 03,98.0,New Generation,1979,61 years 01 month,425888.0,2017-01,61,More than 30 years
38,ANG MO KIO,4 ROOM,254,ANG MO KIO AVE 4,04 TO 06,97.0,New Generation,1977,59 years 06 months,430000.0,2017-01,59,More than 30 years
39,ANG MO KIO,4 ROOM,470,ANG MO KIO AVE 10,04 TO 06,92.0,New Generation,1979,61 years 10 months,435000.0,2017-01,61,More than 30 years
40,ANG MO KIO,4 ROOM,601,ANG MO KIO AVE 5,04 TO 06,91.0,New Generation,1980,62 years 05 months,435000.0,2017-01,62,More than 30 years
41,ANG MO KIO,4 ROOM,463,ANG MO KIO AVE 10,04 TO 06,92.0,New Generation,1980,62 years 01 month,440000.0,2017-01,62,More than 30 years
42,ANG MO KIO,4 ROOM,207,ANG MO KIO AVE 1,04 TO 06,97.0,New Generation,1976,58 years 06 months,460000.0,2017-01,58,More than 30 years
43,ANG MO KIO,4 ROOM,304,ANG MO KIO AVE 1,10 TO 12,97.0,New Generation,1977,59 years 04 months,518000.0,2017-01,59,More than 30 years
44,ANG MO KIO,4 ROOM,646,ANG MO KIO AVE 6,10 TO 12,99.0,New Generation,1980,62 years 11 months,518000.0,2017-01,62,More than 30 years
45,ANG MO KIO,4 ROOM,328,ANG MO KIO AVE 3,10 TO 12,98.0,New Generation,1978,60 years 08 months,560000.0,2017-01,60,More than 30 years
46,ANG MO KIO,4 ROOM,588C,ANG MO KIO ST 52,13 TO 15,90.0,DBSS,2011,93 years 08 months,688000.0,2017-01,93,Less than 10years
47,ANG MO KIO,4 ROOM,588D,ANG MO KIO ST 52,19 TO 21,91.0,DBSS,2011,93 years 07 months,730000.0,2017-01,93,Less than 10years
48,ANG MO KIO,4 ROOM,588D,ANG MO KIO ST 52,22 TO 24,91.0,DBSS,2011,93 years 07 months,756000.0,2017-01,93,Less than 10years
49,ANG MO KIO,5 ROOM,101,ANG MO KIO AVE 3,01 TO 03,117.0,Standard,1978,60 years 01 month,500000.0,2017-01,60,More than 30 years

In [12]:
#checking the data
df.tail(50)

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year-month,remaining_lease_years,flat_age_category
82751,YISHUN,4 ROOM,737,YISHUN ST 72,10 TO 12,91.0,New Generation,1985,63 years 04 months,392000.0,2020-10,63,More than 30 years
82752,YISHUN,4 ROOM,764,YISHUN ST 72,01 TO 03,84.0,Simplified,1985,64 years,325000.0,2020-10,64,More than 30 years
82753,YISHUN,4 ROOM,738,YISHUN ST 72,01 TO 03,91.0,New Generation,1985,63 years 03 months,375000.0,2020-10,63,More than 30 years
82754,YISHUN,4 ROOM,872,YISHUN ST 81,04 TO 06,104.0,Model A,1988,66 years 05 months,370000.0,2020-10,66,More than 30 years
82755,YISHUN,4 ROOM,825,YISHUN ST 81,01 TO 03,103.0,Model A,1988,67 years 01 month,410000.0,2020-10,67,More than 30 years
82756,YISHUN,4 ROOM,875,YISHUN ST 81,04 TO 06,84.0,Simplified,1988,66 years 04 months,320000.0,2020-10,66,More than 30 years
82757,YISHUN,4 ROOM,868,YISHUN ST 81,04 TO 06,84.0,Simplified,1987,66 years 01 month,320000.0,2020-10,66,More than 30 years
82758,YISHUN,5 ROOM,432A,YISHUN AVE 1,07 TO 09,112.0,Improved,2015,94 years,500000.0,2020-10,94,Less than 10years
82759,YISHUN,5 ROOM,432C,YISHUN AVE 1,10 TO 12,112.0,Improved,2015,93 years 11 months,530000.0,2020-10,93,Less than 10years
82760,YISHUN,5 ROOM,432B,YISHUN AVE 1,01 TO 03,112.0,Improved,2015,93 years 11 months,500000.0,2020-10,93,Less than 10years
82761,YISHUN,5 ROOM,432C,YISHUN AVE 1,10 TO 12,112.0,Improved,2015,93 years 11 months,515000.0,2020-10,93,Less than 10years
82762,YISHUN,5 ROOM,432D,YISHUN AVE 1,10 TO 12,112.0,Improved,2015,93 years 11 months,505000.0,2020-10,93,Less than 10years
82763,YISHUN,5 ROOM,426D,YISHUN AVE 11,10 TO 12,112.0,Improved,2015,93 years 06 months,495000.0,2020-10,93,Less than 10years
82764,YISHUN,5 ROOM,347A,YISHUN AVE 11,07 TO 09,112.0,DBSS,2013,92 years,720000.0,2020-10,92,Less than 10years
82765,YISHUN,5 ROOM,428A,YISHUN AVE 11,07 TO 09,112.0,Improved,2015,93 years 05 months,536500.0,2020-10,93,Less than 10years
82766,YISHUN,5 ROOM,658,YISHUN AVE 4,10 TO 12,121.0,Improved,1987,65 years 10 months,445000.0,2020-10,65,More than 30 years
82767,YISHUN,5 ROOM,288,YISHUN AVE 6,04 TO 06,122.0,Improved,1987,65 years 11 months,400000.0,2020-10,65,More than 30 years
82768,YISHUN,5 ROOM,318B,YISHUN AVE 9,13 TO 15,112.0,Improved,2015,94 years 01 month,538000.0,2020-10,94,Less than 10years
82769,YISHUN,5 ROOM,935,YISHUN CTRL 1,04 TO 06,123.0,Improved,1993,71 years 04 months,565000.0,2020-10,71,20 to 30 years
82770,YISHUN,5 ROOM,357,YISHUN RING RD,04 TO 06,122.0,Improved,1988,66 years 11 months,418000.0,2020-10,66,More than 30 years
82771,YISHUN,5 ROOM,413,YISHUN RING RD,07 TO 09,123.0,Improved,1993,71 years 05 months,450000.0,2020-10,71,20 to 30 years
82772,YISHUN,5 ROOM,412,YISHUN RING RD,07 TO 09,123.0,Improved,1993,71 years 05 months,430000.0,2020-10,71,20 to 30 years
82773,YISHUN,5 ROOM,238,YISHUN RING RD,04 TO 06,121.0,Improved,1985,63 years 10 months,420000.0,2020-10,63,More than 30 years
82774,YISHUN,5 ROOM,799,YISHUN RING RD,07 TO 09,121.0,Improved,1987,65 years 03 months,500000.0,2020-10,65,More than 30 years
82775,YISHUN,5 ROOM,240,YISHUN RING RD,07 TO 09,122.0,Improved,1985,63 years 10 months,430000.0,2020-10,63,More than 30 years
82776,YISHUN,5 ROOM,299,YISHUN ST 20,10 TO 12,111.0,Improved,2000,79 years 02 months,480000.0,2020-10,79,10 to 20 years
82777,YISHUN,5 ROOM,213,YISHUN ST 21,07 TO 09,121.0,Improved,1985,63 years 03 months,500000.0,2020-10,63,More than 30 years
82778,YISHUN,5 ROOM,212,YISHUN ST 21,10 TO 12,126.0,Improved,1985,63 years 06 months,498000.0,2020-10,63,More than 30 years
82779,YISHUN,5 ROOM,336C,YISHUN ST 31,10 TO 12,112.0,Improved,2015,94 years 02 months,540000.0,2020-10,94,Less than 10years
82780,YISHUN,5 ROOM,334B,YISHUN ST 31,07 TO 09,112.0,Improved,2015,94 years 02 months,540000.0,2020-10,94,Less than 10years
82781,YISHUN,5 ROOM,334C,YISHUN ST 31,10 TO 12,112.0,Improved,2015,94 years 02 months,555000.0,2020-10,94,Less than 10years
82782,YISHUN,5 ROOM,335C,YISHUN ST 31,04 TO 06,112.0,Improved,2015,94 years 01 month,510000.0,2020-10,94,Less than 10years
82783,YISHUN,5 ROOM,504D,YISHUN ST 51,10 TO 12,113.0,Improved,2016,94 years 06 months,535000.0,2020-10,94,Less than 10years
82784,YISHUN,5 ROOM,505D,YISHUN ST 51,10 TO 12,112.0,Improved,2016,94 years 05 months,560000.0,2020-10,94,Less than 10years
82785,YISHUN,5 ROOM,504D,YISHUN ST 51,10 TO 12,113.0,Improved,2016,94 years 06 months,553800.0,2020-10,94,Less than 10years
82786,YISHUN,5 ROOM,612,YISHUN ST 61,04 TO 06,121.0,Improved,1987,65 years 04 months,435000.0,2020-10,65,More than 30 years
82787,YISHUN,5 ROOM,647,YISHUN ST 61,04 TO 06,121.0,Improved,1987,65 years 06 months,430000.0,2020-10,65,More than 30 years
82788,YISHUN,EXECUTIVE,664,YISHUN AVE 4,04 TO 06,164.0,Apartment,1992,70 years 09 months,740000.0,2020-10,70,20 to 30 years
82789,YISHUN,EXECUTIVE,392,YISHUN AVE 6,10 TO 12,142.0,Apartment,1988,66 years 09 months,570000.0,2020-10,66,More than 30 years
82790,YISHUN,EXECUTIVE,360,YISHUN RING RD,04 TO 06,142.0,Apartment,1988,66 years 09 months,615000.0,2020-10,66,More than 30 years
82791,YISHUN,EXECUTIVE,355A,YISHUN RING RD,01 TO 03,145.0,Maisonette,1988,66 years 08 months,628000.0,2020-10,66,More than 30 years
82792,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,146.0,Maisonette,1985,63 years 10 months,590000.0,2020-10,63,More than 30 years
82793,YISHUN,EXECUTIVE,643,YISHUN ST 61,04 TO 06,146.0,Maisonette,1987,65 years 11 months,586000.0,2020-10,65,More than 30 years
82794,YISHUN,EXECUTIVE,724,YISHUN ST 71,01 TO 03,142.0,Apartment,1986,64 years 10 months,570000.0,2020-10,64,More than 30 years
82795,YISHUN,EXECUTIVE,877,YISHUN ST 81,04 TO 06,142.0,Apartment,1987,66 years 03 months,658000.0,2020-10,66,More than 30 years
82796,YISHUN,EXECUTIVE,834,YISHUN ST 81,04 TO 06,146.0,Maisonette,1988,66 years 03 months,680000.0,2020-10,66,More than 30 years
82797,YISHUN,EXECUTIVE,877,YISHUN ST 81,01 TO 03,145.0,Maisonette,1987,66 years 02 months,618000.0,2020-10,66,More than 30 years
82798,YISHUN,EXECUTIVE,877,YISHUN ST 81,07 TO 09,142.0,Apartment,1987,66 years 02 months,670000.0,2020-10,66,More than 30 years
82799,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,66 years 02 months,750000.0,2020-10,66,More than 30 years
82800,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,171.0,Multi Generation,1987,66 years 02 months,780000.0,2020-10,66,More than 30 years

In [13]:
df.to_feather('clean_df.feather')

In [14]:
#Check that Feather saves all data and types correctly
clean_df = pd.read_feather('clean_df.feather')
clean_df

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year-month,remaining_lease_years,flat_age_category
0,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,2017-01,61,More than 30 years
1,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,2017-01,60,More than 30 years
2,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,2017-01,62,More than 30 years
3,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,2017-01,62,More than 30 years
4,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,2017-01,62,More than 30 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82796,YISHUN,EXECUTIVE,834,YISHUN ST 81,04 TO 06,146.0,Maisonette,1988,66 years 03 months,680000.0,2020-10,66,More than 30 years
82797,YISHUN,EXECUTIVE,877,YISHUN ST 81,01 TO 03,145.0,Maisonette,1987,66 years 02 months,618000.0,2020-10,66,More than 30 years
82798,YISHUN,EXECUTIVE,877,YISHUN ST 81,07 TO 09,142.0,Apartment,1987,66 years 02 months,670000.0,2020-10,66,More than 30 years
82799,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,66 years 02 months,750000.0,2020-10,66,More than 30 years
82800,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,171.0,Multi Generation,1987,66 years 02 months,780000.0,2020-10,66,More than 30 years

In [15]:
df.equals(clean_df)

True