In [1]:
import pandas as pd
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_feather('clean_df.feather')
df

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year-month,remaining_lease_years,flat_age_category
0,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,2017-01,61,More than 30 years
1,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,2017-01,60,More than 30 years
2,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,2017-01,62,More than 30 years
3,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,2017-01,62,More than 30 years
4,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,2017-01,62,More than 30 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82796,YISHUN,EXECUTIVE,834,YISHUN ST 81,04 TO 06,146.0,Maisonette,1988,66 years 03 months,680000.0,2020-10,66,More than 30 years
82797,YISHUN,EXECUTIVE,877,YISHUN ST 81,01 TO 03,145.0,Maisonette,1987,66 years 02 months,618000.0,2020-10,66,More than 30 years
82798,YISHUN,EXECUTIVE,877,YISHUN ST 81,07 TO 09,142.0,Apartment,1987,66 years 02 months,670000.0,2020-10,66,More than 30 years
82799,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,66 years 02 months,750000.0,2020-10,66,More than 30 years
82800,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,171.0,Multi Generation,1987,66 years 02 months,780000.0,2020-10,66,More than 30 years

In [3]:
df.dtypes

town                      category
flat_type                 category
block                       object
street_name                 object
storey_range              category
floor_area_sqm             float64
flat_model                category
lease_commence_date          int64
remaining_lease             object
resale_price               float64
year-month               period[M]
remaining_lease_years        int32
flat_age_category         category
dtype: object

In [19]:
g = sns.displot(data=df, x="resale_price", bins=20)
g.set_titles('Distribution of Resale Prices from Jan 2017 to Oct 2020')

AttributeError: 'FacetGrid' object has no attribute 'set_title'